html, body {
    margin: 0px;
    height: 100%;
}

body {
    /* position: relative; */
    /* overflow: hidden; */
    /* font-family: sans-serif; */
    /* margin: 0px; */
}

.container-fluid {
    padding: 0px;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#controls {
    position: relative;
    /* float: left; */
    background-color: whitesmoke;
    /* width: 300px; */
    /* width: 25%; */
    height: 100%;
    padding: 0px;
}

.present {
    /* position: absolute; */
    /* height: 100%; */
    /* top: 0px;
    bottom: 0px; */
}

.selectivity-multiple-input-container {
    /* position: absolute; */
    /* margin: 10px; */
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    /* height: 1000px; */
    /* top: 0px;
    height: 1000px;
    bottom: 0px; */
}

#network {
    /* float: right; */
    /* width: calc(100% - 300px); */
    /* width: 80%; */
    height: 100%;
    padding: 0px;
}

#stir-fry {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
