<!doctype html>
<html>
<head>
    <title>Flavor Tool</title>

    <link rel='stylesheet' href='static/css/lib/selectivity-jquery.min.css' type='text/css'>
    <link rel='stylesheet' href='//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='static/css/lib/vis-network.min.css' rel='stylesheet' type='text/css' />
    <link href='static/css/style.css' rel='stylesheet' type='text/css' />
    <link rel='shortcut icon' href='static/img/favicon.ico'>

    <!-- <script type="text/javascript" src="static/js/lib/jquery.min.js"></script> -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type='text/javascript' src='//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js'></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
    <!-- <script src="//code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script type='text/javascript' src='static/js/lib/vis-network.min.js'></script>
    <script type='text/javascript' src='static/js/lib/selectivity-jquery.min.js'></script>
    <!-- <script type='text/javascript' src='static/js/descriptions.js'></script> -->
    <script type='text/javascript' src='static/js/SaladIngredient.js'></script>
    <script type='text/javascript' src='static/js/SaladManager.js'></script>
    <script type='text/javascript' src='static/js/main.js'></script>
</head>

<body>
    <div class='container-fluid'>
        <div id='generating' class="card shadow">
            <div class="card-header">Generating...</div>
        </div>
        <div id='about-window-wrapper'>
            <div id='about-window' class="card shadow">
                <div class="card-header">
                    About
                    <button id='about-close' type="button" class="btn btn-sm btn-danger float-right">Close</button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Welcome to the Flavor Tool!</h5>
                    <p class="card-text">The top left box lists all currently present ingredients. To add an ingredient, just search and click (or press enter); to remove an ingredient press the "X" (or backspace). You can use the "all" and "none" buttons to add or remove in bulk.</p>
                    <p class="card-text mb-0">The main window displays each present ingredient as a color-coded node:</p>
                    <ul>
                        <li>light green=leafy green</li>
                        <li>green=vegetable</li>
                        <li>orange=fruit</li>
                        <li>brown=nut or seed</li>
                        <li>tan=dressing component</li>
                        <li>grey=other</li>
                    </ul>
                    <p class="card-text mb-0">There are three ways to manipulate these ingredients:</p>
                    <ol>
                        <li><strong>Click to select</strong> an ingredient, marking it to include in the salad. Click again to de-select.</li>
                        <li><strong>Double click to lock</strong> an ingredient. If you auto-generate a salad, these ingredients will be used as a base. Double click again to unlock.</li>
                        <li><strong>Right click</strong> an ingredient to show which other ingredients <strong>pair with</strong> it. Black lines are strong pairs, grey lines are weaker.</li>
                    </ol>
                    <p class="card-text">Selected ingredients that pair well together will be connected with a solid line (black for strong, grey for week), while selected ingredients that clash will be marked with a red line (lighter red for minor clash).</p>
                    <p class="card-text">When you've selected a set of ingredients you like, try locking them and pressing "Generate", on the left (or spacebar). This will draw on a bunch of flavor data to select some other ingredients that (hopefully) complement the ones you've locked, filling in the missing pieces.</p>
                    <p class="card-text">The "Save" and "Load" buttons let you save multiple projects, so you can play around with different configurations, or pick up where you left off.</p>
                    <h5 class="card-title">Enjoy! :-)</h5>
                </div>
            </div>
        </div>
        <div id='main' class='row'>
            <div id='controls' class='col-2 p-3 shadow'>
                <div id='present'></div>
                <button id='all' type="button" class="btn btn-secondary mt-3 mr-1">All</button>
                <button id='none' type="button" class="btn btn-secondary mt-3">None</button><br>
                <button id='save' type="button" class="btn btn-secondary mt-3 mr-1">Save</button>
                <button id='load' type="button" class="btn btn-secondary mt-3">Load</button><br>
                <button id='generate' type="button" class="btn btn-success mt-3">Generate salad</button><br>
                <button id='about' type="button" class="btn btn-primary mt-3">About</button>
                <button id='stir-fry' type="button" class="btn btn-danger ml-3 mb-3">Stir-fry mode</button>
            </div>
            <div id='network' class='col'></div>
        </div>
        <!-- <div id='generating' class="shadow-lg">Generating...</div> -->
        <!-- </div> -->

    </div>
</body>
</html>
